body {
    background: #007FFF;
}

.navbar {
    background-color: #CFB53B;
    color: white;
}

.page-container {
    margin-top: 75px;
    background-color: #007FFF;
    color: #CFB53B;
}

#atoLogo {
    max-width: 150px;
}

#roseLogo {
    max-width: 350px;
    margin: 20px auto;
    display: block;
}

#rosefireButton {
    display: block;
    margin: 60px auto;
    color: white;
    background: #800000;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}

#startPage > .btn,
#performersPage > .btn,
#managerPage > .btn {
    display: block;
    margin: 20px auto;
    padding: 10px 30px;
    background: white;
}

#selectText {
    text-align: center;
}