body {
    background: #007FFF;
}

.navbar {
    background-color: #CFB53B;
    color: white;
}

.page-container {
    margin-top: 75px;
    background-color: #007FFF;
    color: #CFB53B;
}

#atoLogo {
    max-width: 150px;
}

#atoLogoDetail {
    max-width: 150px;
    left: -500px;
}

#roseLogo {
    max-width: 350px;
    margin: 20px auto;
    display: block;
}

#rosefireButton {
    display: block;
    margin: 60px auto;
    color: white;
    background: #800000;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}

#startPage > .btn,
#performersPage > .btn,
#managerPage > .btn,
#hallwaysPage > .btn,
#judyPage > .btn,
#dishCrewPage > .btn,
#libraryPage > .btn {
    display: block;
    margin: 20px auto;
    padding: 10px 30px;
    background: white;
}

#selectText {
    text-align: center;
}

.card {
    margin: 10px 0;
}

#fab {
    background: #CFB53B;
    bottom: 10px;
    color: white;
    position: fixed;
    right: 10px;
    z-index: 999;
}

#fab:active {
    opacity: 0.8;
    transform: translateY(2px);
}

.card {
    margin: 10px 0;
}

#startPage > .card-title,
#performersPage > .card-title,
#managerPage > .card-title,
#hallwaysPage > .card-title,
#judyPage > .card-title,
#libraryPage > .card-title,
#dishCrewPage > .card-title,
#startPage > .card-subtitle,
#performersPage > .card-subtitle,
#managerPage > .card-subtitle,
#hallwaysPage > .card-subtitle,
#judyPage > .card-subtitle,
#libraryPage > .card-subtitle,
#dishCrewPage > .card-subtitle {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.dropdown-menu-right {
    left: -128px;
}